@model List<DAL.Models.Photos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    #photo {
        transition: all 300ms;
    }

        #photo:hover {
            transform: scale(1.04);
        }

    #card {
        background-color: #F2F2F2;
    }
</style>
<h3>Homepage</h3>
<hr />
<div class="d-flex flex-wrap">
    <div class="row">
        <div class="col-sm-3 p-0">
            @foreach (var item in Model)
            {
                if ((Model.IndexOf(item) + 1) % 4 == 1)
                {
                    <div id="card" class="card p-2 pr-0 border-0">
                        <a id="photo" href="~/Photograph/Index/@item.Id">
                            <img class="card-img rounded float-start" src="@item.Name" />
                        </a>
                    </div>
                }
            }
        </div>
        <div class="col-sm-3 p-0">
            @foreach (var item in Model)
            {
                if ((Model.IndexOf(item) + 1) % 4 == 2)
                {
                    <div id="card" class="card p-2 pr-0 border-0">
                        <a id="photo" href="~/Photograph/Index/@item.Id">
                            <img class="card-img rounded float-start" src="@item.Name" />
                        </a>
                    </div>
                }
            }
        </div>
        <div class="col-sm-3 p-0">
            @foreach (var item in Model)
            {
                if ((Model.IndexOf(item) + 1) % 4 == 3)
                {
                    <div id="card" class="card p-2 pr-0 border-0">
                        <a id="photo" href="~/Photograph/Index/@item.Id">
                            <img class="card-img rounded float-start" src="@item.Name" />
                        </a>
                    </div>
                }
            }
        </div>
        <div class="col-sm-3 p-0">
            @foreach (var item in Model)
            {
                if ((Model.IndexOf(item) + 1) % 4 == 0)
                {
                    <div id="card" class="card p-2 pr-0 border-0">
                        <a id="photo" href="~/Photograph/Index/@item.Id">
                            <img class="card-img rounded float-start" src="@item.Name" />
                        </a>
                    </div>
                }
            }
        </div>
    </div>

</div>



